langchain
langgraph
ipykernel
python-dotenv
langchain-google-genai
langchain-openai
uvicorn
fastapi
langchain-core
streamlit
langchain_community
langserve
sse_starlette
langchain_ollama
pydantic
bs4
pypdf
faiss-cpu
beautifulSoup4
langchain_groq
